.form-title{
    text-align: center;
    color: HSL(220, 69%, 55%);
}

.form-input{
    background-color: HSL(200, 70%, 96%);
    width: 100%;
}

.confirmation_page{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}

.confirmation_page-content{
    background-color: #fff;
    padding: 1.5rem;
    border-radius: .5rem;
}

.confirmation_page-buttons{
    display: flex;
    justify-content: center;
}

.confirmation_page-title{
    font-size: 1.325rem;
    font-weight: 500;
    margin-bottom: 0.2rem;
    text-align: center;
}
.confirmation_page-subtitle{
    font-size: 0.875rem;
    text-align: center;
    margin-bottom: 1rem;
}
.submitBtn{
    margin-right: 0.6rem;
}

.confirmBtn{
    margin-right: 0.2rem;
}

.cancelBtn{
    margin-left: 0.2rem;
}

.addMedicineBtn{
    margin-left: 0.2rem;
    margin-top: 0.2rem;    
    vertical-align: middle;
}

#medTable {
    font-family: arial, sans-serif;
    border: 1px;
    width: 100%;
  }
  
#medTable  tr, #medTable td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

/* active modal */
.active-modal{
    opacity: 1;
    visibility: visible;
}

