<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
            integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.0/dist/chart.min.js"></script>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <title>Sensor Dashboard</title>
</head>
<body>


<div id="main">

<div class="container shadow p-3 mb-5  bg-primary bg-opacity-25 rounded"
     style="position: relative; top: 50px; width: 60%;">
    <div class="container overflow-hidden">


            <div list-group-item class="m-3 d-flex justify-content-left align-items-center " >
                <a class="btn btn-secondary confirmBtn" th:href="@{/doctor/myPatient(pageNo=1)}">Back</a>
            </div>


            <h1 class="d-flex justify-content-start"> Health Condition</h1>
            Patient ID: <p th:text="${patientid}"></p>
            Patient Sensor ID: 
            <div th:if="${sensorDataList}">
              <p th:text="${sensorDataList.sensorDataId}"></p>
          </div>
          
          <div th:unless="${sensorDataList}">
              <p>None</p>

              
                          
          </div>

          <a th:href="@{/doctor/sensorHistory}"><button class="submit btn btn-warning">History</button></a></td>

            <div class="container mt-5 ">

               <!-- <div id="chartContainer" style="height: 550px; width: 100%;">
                <div th:if="${sensorDataList.sensorDataId=='Luqmanaz'}">
                <iframe width="100%" height="500" frameborder="0" src="https://stem.ubidots.com/app/dashboards/public/widget/tziPQVCJqiqio5HyQxSXuVaxwV6Ol_sDV4EEPG0fXmg?embed=true"></iframe>
                </div>
                </div>-->


                <table class = "table-bordered">
                  <tr>
                      <td>Normal</td>
                      <td><div style="width: 20px; height: 20px; background-color: rgb(130, 255, 130);"></div></td>
                  </tr>
                  <tr>
                      <td>Not normal</td>
                      <td><div style="width: 20px; height: 20px; background-color: rgb(255, 90, 90);"></div></td>
                  </tr>
              </table><br>
                Current/Latest Data
                <table class="table table-bordered border border-dark">
                    <thead>
                    <tr>
                        <th scope="col">Body Temperature(Celsius)</th>
                        <th scope="col">Oxygen Saturation(SpO2)%</th>
                        <th scope="col">ECG</th> 
                        <th scope="col">Heart Rate</th>
                        <th scope="col">Date & Time</th>
                    </tr>
                    </thead>
                    <tbody class="tbody">
                    <tr th:each="sensorData:${sensorDataList}">
                        <td id="exist" th:style="${sensorData.bodyTemperature} > 37.2 ? 'background-color: rgb(255, 90, 90);': 'background-color: rgb(130, 255, 130);'" >
                            [[${sensorData.bodyTemperature}]]</td>
                        <td th:style="${sensorData.oxygenReading} < 94 ? 'background-color: rgb(255, 90, 90);': 'background-color: rgb(130, 255, 130);'" >
                            [[${sensorData.oxygenReading}]]</td>
                        <td th:text="${sensorData.ecgReading}">-</td>
                        <td th:style="${sensorData.Heart_Rate} > 90 ? 'background-color: rgb(255, 90, 90);': 'background-color: rgb(130, 255, 130);'" >
                            [[${sensorData.Heart_Rate}]]</td>
                        <td th:text="${#dates.format(sensorData.timestamp, 'dd MMM yyyy HH:mm')}">-</td>
                    </tr>
                    </tbody>
                </table>

                <table th:if="${sensorDataListHistory}"class="table table-bordered border border-dark">
                  <thead>
                  <tr>
                      <th scope="col">Body Temperature(Celsius)</th>
                      <th scope="col">Oxygen Saturation(SpO2)%</th>
                      <th scope="col">ECG</th> 
                      <th scope="col">Heart Rate</th>
                      <th scope="col">Date & Time</th>
                  </tr>
                  </thead>
                  <tbody class="tbody">
                  <tr th:each="sensorData:${sensorDataListHistory}">
                      <td id="exist" th:style="${sensorData.bodyTemperature} > 37.2 ? 'background-color: rgb(255, 90, 90);': 'background-color: rgb(130, 255, 130);'" >
                          [[${sensorData.bodyTemperature}]]</td>
                      <td th:style="${sensorData.oxygenReading} < 94 ? 'background-color: rgb(255, 90, 90);': 'background-color: rgb(130, 255, 130);'" >
                          [[${sensorData.oxygenReading}]]</td>
                      <td th:text="${sensorData.ecgReading}">-</td>
                      <td th:style="${sensorData.Heart_Rate} > 90 ? 'background-color: rgb(255, 90, 90);': 'background-color: rgb(130, 255, 130);'" >
                          [[${sensorData.Heart_Rate}]]</td>
                      <td th:text="${#dates.format(sensorData.timestamp, 'dd MMM yyyy HH:mm')}">-</td>
                  </tr>
                  </tbody>
              </table>
                <!-- will display when sensor data is NULL -->
              <div th:style="${sensorDataList != null} ? 'display: none'" >
                  <h2>There is no Sensor ID Attach to this Patient.</h2>
                  <button class= "btn btn-warning" th:onclick="'showModal()'">Create</button>
              </div>
              <!-- will display when sensor data is Exist -->
              <div th:style="${sensorDataList == null} ? 'display: none'" >
                <form method="post" th:action="@{/patient/savehistory}">

                  <input type="hidden" th:name="patientid" th:value="${patientid}"/>
                  <button class= "submit btn btn-warning">Save to History</button>
                
                </form>
              </div>

            </div>


            <div class="modal" tabindex="-1" id="myModal">
              <form  method="post" th:action="@{/doctor/create}" th:object="${patientid}">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Enter New Data Sensor</h5>
                      <button type="button" class="close" th:onclick="'hideModal()'" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <input type="text" name="sensordata" placeholder="type here" required>
                      <input type="hidden" th:name="patientid" th:value="${patientid}"/>
                    </div>
                    <div class="modal-footer">
                      <button  type="submit" class="btn btn-primary" th:onclick="'submitForm()'">Submit</button>
                      <button type="button" class="btn btn-secondary" th:onclick="'hideModal()'">Close</button>
                    </div>
                  </div>
                </div>
              </form>
              </div>  
    </div>

</div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous">
        </script>
<script>
    function showModal() {
  var modal = document.getElementById("myModal");
  modal.style.display = "block";
}

function hideModal() {
  var modal = document.getElementById("myModal");
  modal.style.display = "none";
}
</script>

</body>
</html>